@{
    ViewBag.Title = "LogIn";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title &copy;</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                LogIn &copy; - Your favorite choice for a website that requires logging in
            </p>
        </div>
    </section>
}
<h3>Open for all</h3>
<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        This site is open for all users
    </li>
</ol>
