<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="NUnit">
      <section name="TestRunner" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>    
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="NUnit" />
  </specFlow>
  <NUnit>
    <TestRunner>
      <!-- Valid values are STA,MTA. Others ignored. -->
      <add key="ApartmentState" value="STA" />
    </TestRunner>
  </NUnit>
  <connectionStrings>
    <add name="Simple.Data" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-SiteWithLogin-20121002135214;Integrated Security=SSPI;AttachDBFilename=c:\work\SiteWithLogin\SiteWithLogin\App_Data\aspnet-SiteWithLogin-20121002135214.mdf" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>